@import "../../media.scss";
@import "../../utilityClasses.scss";

.languagePopup{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        opacity: 0.9;
    }

    .content{
        width: min(500px, 100%);
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        text-align: center;
        gap: 1.2em;
        // color: var(--light-color);
        

        .heading{
            font-size: 1.4rem;
            line-height: calc(1.5rem * 1.5);
            display: block;
            font-weight: var(--font-bold);

            @include media_md{
                font-size: 1.6rem;
                line-height: calc(1.6rem * 1.5);
                margin-bottom: 0.5em;
            }

            @include media_xl{
                font-size: 1.8rem;
                line-height: calc(2rem * 1.5);
            }
        }
        

        .langIcon{
            width: 100px;
            
            align-self: center;

            @include media_md{
                width: 140px;
            }

            @include media_xl{
                width: 150px;
            }
        }

        .checkIcon{
            color: var(--primary-color);
        }

        

        button{
            @include button;
            background-color: var(--dark-color);
            cursor: pointer;
            color: var(--light-color);
            font-size: var(--regularText);  
            &:focus{
                outline: 2px solid var(--dark-color);
            }
        }
    }
}