@import './index.scss';


//*Font Utility -------------------------------->

@mixin title{
    font-size: var(--title);
    line-height: calc(var(--title) * 1.5);
    display: block;
    margin-bottom: 0.75em;
    font-weight: var(--font-bold);
  }
  
  @mixin subTitle{
    font-size: var(--subtitle);
    line-height: calc(var(--subtitle) * 1.5);
    display: block;
    font-weight: var(--font-regular);
  }
  
  @mixin regularText{
    font-size: var(--regular-text);
    line-height: calc(var(--regular-text) * 1.9);
    display: block;
    font-weight: var(--font-regular);


  }
  
  @mixin smallText{
    font-size: var(--small-text);
    line-height: calc(var(--small-text) * 1.5);
    display: block;
    font-weight: var(--font-regular);
}

 //* Styling Utilities -------------------------------->
 @mixin outerFocus {
  outline: 2px solid var(--primary-color);
  outline-offset: 1px;
}
  
  
  //*Elements Utility -------------------------------->
  
  
  
  @mixin button{
    border: none;
    padding: 0.5em;
    border-radius: var(--border-md-radius);
    font-size: var(--regular-text);
    font-weight: var(--font-bold);
    letter-spacing: 0.5px;
    line-height: initial;
    cursor: pointer;
    &:focus{
      @include outerFocus;  
    }
  
  }

  @mixin inputs{
    font-size: calc(var(--regular-text) * 0.9);
    padding: 0.65em;
    border-radius: var(--border-md-radius);
    border: 1px solid var(--light-color-2);
    &:focus{
      @include outerFocus;  
    }
  }


 
  
  