@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');

//!------- Default Values --------------------------------------------------//
:root{
  //*Fonts
  --font-thin : 300;
  --font-regular: 400;
  --font-bold: 600;

  //*Colors
  --light-color: #e5e5e5;
  --dark-color: #000000;
  --primary-color: #4cb19f;
  --primary-opac-color: rgba(76, 177, 159, 0.5);
  --light-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  --border-radius: 5px;
}

[data-lang="en"]{
   --title: 1.5rem;
   --subtitle: 1.2rem;
   --body: 1rem
}

[data-lang="hn-mr"]{
  --title: 2rem;
  --subtitle: 1.6rem;
  --body: 1.2rem
}


//!------- Reset Setting --------------------------------------------------//

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button{
  color: inherit;
  font-family: inherit;
}

body{
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-weight: var(--font-regular);
  
}

h1,h2,h3,h4,ul,ol{
  all: unset;
}

//!------- Utility Classes --------------------------------------------------//

//*Font Utility -------------------------------->

.title{
  font-size: var(--title);
  line-height: calc(var(--title) * 1.5);
  display: block;
  margin-bottom: 0.75em;
  font-weight: var(--font-bold);
}

.subTitle{
  font-size: var(--subtitle);
  line-height: calc(var(--title) * 1.5);
  display: block;
  font-weight: var(--font-regular);
}

.body{
  font-size: var(--body);
  line-height: calc(var(--title) * 1.5);
  display: block;
  font-weight: var(--font-regular);
}


//*Elements Utility -------------------------------->



.button{
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: var(--body);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
  line-height: initial;
  &:focus{
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }

}

.react-select-container{
  text-align: left;
  color: var(--dark-color);
  font-size: var(--body);
}

